# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.vs
*Debug
*build
python/dist/
python/src/
python/sxtwl.egg-info/
__pycache__
.idea
